:root {
  --primary: #263238;
  --primary-light: #4f5b62;
  --primary-dark: #2c3d72;
  --secondary: #dd2c00;
  --secondary-light: #ff6434;
  --secondary-dark: #a30000;
  --star-active: #ff9500;
  --star-inactive: #d9d5d2;
  --background-color: #e1e2e1;
  --font-family: "Poppins", sans-serif;
  --font-family1: "Varela Round", sans-serif;
  --font-family2: "Merriweather", serif;
  --h6: 21px;
  --h6-space: 0.15px;
  --h5: 25px;
  --h4: 35px;
  --h4-space: 0.25px;
  --h3: 50px;
  --subtitle-1: 17px;
  --sub-1-space: 0.15px;
  --subtitle-2: 15px;
  --sub-2-space: 0.1px;
  --body1: 15px;
  --body1-space: 0.5px;
  --body2: 13px;
  --body2-space: 0.25px;
  --button: 13px;
  --button-space: 1.25px;
  --caption: 11px;
  --caption-space: 0.4px;
  --overline: 10ox;
  --overline-space: 1.5px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  padding: 0px 10%;
}
@media (max-width: 768px) {
  li {
    list-style-type: none;
  }

  a {
    text-decoration: none;
  }

  /* nav {
    display: flex;
    justify-content: space-around;
    height: 10vh;
    align-items: center;
    font-family: var(--font-family);
    background-color: var(--primary-dark);
  } */
  nav .logo {
    font-size: var(--h5);
    color: white;
  }

  nav .menu {
    color: white;
  }

  /***********/
  /* DOWNBAR */
  /***********/

  .main-downbar {
    display: flex;
    justify-content: space-around;
    height: 8vh;
    align-items: center;
    background-color: var(--primary-dark);
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  .downbar-icon {
    color: white;
    padding: 10px;
    cursor: pointer;
  }

  .downbar-icon:hover {
    cursor: pointer;
  }

  /********************/
  /* Statistics Title */
  /********************/

  .title_container {
    margin: 20px auto;
  }

  .title_container nav {
    display: flex;
    justify-content: left;
    font-size: var(--h5);
    margin: 20px 0;
    font-family: var(--font-family);
  }

  .title_container p {
    font-family: var(--font-family2);
    font-size: var(--subtitle-2);
  }

  /************/
  /* Selector */
  /************/

  .selector_container h3 {
    margin: 20px auto 20px 0px;
  }

  .selector_container h5 {
    margin: 0px;
  }

  .selector_container .provincia,
  .selector_container .departamento,
  .selector_container .distrito {
    margin: 10px 0px;
    width: 100%;
  }

  .selector_container div select,
  .selector_container div select,
  .selector_container div select {
    width: 60%;
    border: 2px solid gray;
    border-radius: 20px;
    line-height: 40px;
  }
  /* .background {
    background-image: url(./title_bg.svg);
  } */
}
